.login-container {
  width: 100%;
  height: 100%;
  background: url('/assets/images/bg.jpg') no-repeat fixed center;
  overflow: scroll;
  font-size: 0.9rem;
}
.login-wrapper {
  /* 水平垂直居中 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 登录框尺寸 */
  width: 360px;
  height: 550px;
  background-color: #ffffff;
}

.login-intro {
  height: 250px;
}
.login-intro .login-logo {
  padding: 2em;
}
.logo {
  width: 128px;
  height: 128px;
  background: url('/assets/images/logo.png') no-repeat center center / 128px 76px;
}

.login-input-field {
  padding: 0 1em;
  height: auto;
}

.login-actions {
  padding: 0 4em;
  height: 110px;
  justify-content: center;
}

.login-input-field .username {
  margin-bottom: .5em;
}
.login-input-field .password {
  margin-bottom: 1.5em;
}
.login-input-field .options {
  justify-content: space-between;
}
.login-input-field .options a {
  text-decoration: none;
  font-size: .9em;
}