<div class="login-container">
  <md-card class="login-wrapper">
    <div class="login-intro flex-column">
      <div class="login-logo flex-column flex-center">
        <div class="logo"></div>
        <p>请登录</p>
      </div>
    </div>
    <div class="login-input-field flex-column">
      <md-form-field class="full-width username">
        <input mdInput placeholder="用户名">
      </md-form-field>
      <md-form-field class="full-width password">
        <input mdInput placeholder="密码">
      </md-form-field>
      <div class="full-width options flex-row">
        <section>
          <md-checkbox>记住登录</md-checkbox>
        </section>
        <section>
          <a href="#">忘记密码?</a>
        </section>
      </div>
    </div>
    <div class="login-actions flex-column">
      <button md-raised-button color="primary">
        登录
      </button>
    </div>
  </md-card>
</div>