.ma-header {
  background-color: #2196f3;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.header-menu {
  margin-right: 16px;
}
.ma-header span {
  font-size: 24px;
  font-weight: 300;
}
