@import "./styles/helper.scss";
material-app,
.main-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-container {
  overflow: scroll;
  background-color: #fcfcfc;
}
md-sidenav-container {
  width: 100%;
  height: calc(100% - 64px);
}
a {
  color: #18a3e7;
}
.loading-spinner path {
  stroke: rgba(0, 0, 0, 0.38);
}
