.ma-header {
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.header-menu {
  margin-right: 16px;
}
.ma-header span {
  font-size: 24px;
  font-weight: 300;
}
.profile {
  button {
    min-height: 64px;
  }
  .user-avatar {
    margin-right: 1em;
    max-width: 38px;
    max-height: 38px;
    border-radius: 50%;
    border: 1px solid white;
  }
}
.icon {
  margin-right: .5em;
}
.no-icon {
  font-size: 1.5em;
  margin-right: .2em;
}
.notifier {
  height: 64px;
  margin: 0;
}
.fill-remain {
  flex: 1 1 auto;
}
